@font-face {
  font-family: 'abite';
  src: url('/fonts/abite.woff') format('woff');
}
@font-face {
  font-family: 'candara';
  src: url('/fonts/candara.woff') format('woff');
}
body {
  font-family: "candara";
}
body,
html,
.main-view {
  /* important */
  height: 100%;
}
body {
  background: #000;
}
.main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it */
  height: 100%;
  position: relative;
  z-index: 1;
}
.fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.fixed-bg h1,
.fixed-bg h2 {
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}
.fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 60%;
  max-width: 1170px;
}
.fixed-bg.bg-1 {
  background-image: url("/images/backgrounds/home_bg_photo1.jpg");
}
.fixed-bg.bg-2 {
  background-image: url("/images/backgrounds/home_bg_photo2.jpg");
}
.fixed-bg.bg-3 {
  background-image: url("/images/backgrounds/home_bg_photo3.jpg");
}
.fixed-bg.bg-4 {
  background-image: url("/images/backgrounds/home_bg_photo4.jpg");
}
.fixed-bg.bg-5 {
  background-image: url("/images/backgrounds/home_bg_photo5.jpg");
}
.scrolling-bg {
  position: relative;
  min-height: 50%;
  padding: 30px 0 40px;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
  font-size: 20px;
}
.scrolling-bg h1 {
  font-family: abite;
  border-bottom: 1px #fff solid;
  font-size: 24px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.scrolling-bg.color-1 {
  background-image: url("/images/backgrounds/scroll_bg_photo1.jpg");
  color: #fff;
}
.scrolling-bg.color-2 {
  background-image: url("/images/backgrounds/home_bg_photo2.jpg");
  color: #fff;
}
.scrolling-bg.color-3 {
  background-image: url("/images/backgrounds/home_bg_photo2.jpg");
  color: #fff;
}
.scrolling-bg.color-4 {
  background: #999;
}
.scrolling-bg.color-5 {
  min-height: 0;
  height: 100px;
  background: #666;
}
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #666666;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #888888;
}
.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: .7;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}
@media only screen and (min-width: 768px) {
  .fixed-bg h1 {
    font-size: 36px;
    font-family: "abite";
  }
  .fixed-bg h2 {
    font-size: 36px;
  }
  .fixed-bg h2 em {
    font-size: 28px;
    display: block;
  }
}
@media only screen and (min-width: 1170px) {
  .fixed-bg {
    background-attachment: fixed;
  }
  .fixed-bg h1 {
    font-size: 48px;
    font-weight: 300;
    font-family: "abite";
  }
  .fixed-bg h2 {
    font-size: 48px;
    font-weight: 300;
    line-height: 52px;
  }
  .fixed-bg h2 em {
    font-size: 40px;
    display: block;
  }
  .container {
    /* max-width to the element, center it horizontally when it reaches max-width */
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
  }
  .container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
}
@media only screen and (min-width: 1170px) and only screen and (max-width: 768px) {
  .fixed-bg {
    background-attachment: unset;
  }
}
@media only screen and (min-width: 1170px) and only screen and (min-width: 768px) {
  .scrolling-bg {
    padding: 40px 0 30px;
    font-size: 20px;
    line-height: 2;
    font-weight: 300;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
.header .logo {
  float: left;
  margin: 9px 0 0 5%;
  font-family: abite;
  font-size: 30px;
  color: #fff;
}
.header .logo img {
  display: block;
}
.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.6s cubic-bezier(0.87, -0.5, 0.19, 1.44);
}
.headroom--unpinned {
  top: -100px;
}
.headroom--pinned {
  top: 0;
}
@media only screen and (max-width: 768px) {
  .main-nav {
    display: none;
  }
}
.main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../img/icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;
}
.main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #2f292a;
  border-top: 1px solid #453c3d;
  color: #fff;
}
.main-nav a:hover {
  color: #999;
  text-decoration: none;
}
.main-nav a.active {
  color: #999;
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .main-nav ul {
    position: static;
    width: auto;
    line-height: 70px;
  }
  .main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 5px;
    border-top: none;
    color: #fff;
    font-size: 16px;
  }
  .main-nav a:hover {
    color: #999;
    text-decoration: none;
  }
  .main-nav a.active {
    color: #999;
    text-decoration: none;
  }
  .no-touch .main-nav a:hover {
    color: #99a478;
  }
}
footer {
  width: 100%;
  height: 25px;
  background: #000;
  margin: 0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 10;
}
.audio-player-controls {
  width: 75%;
  margin: 3px auto 0;
  color: #999;
  text-align: left;
}
.audio-player-controls i {
  cursor: pointer;
  padding-right: 10px;
}
.audio-player-controls i:hover {
  color: #fff;
}
.audio-player-controls span {
  padding-right: 10px;
}
.play,
.pause,
.mic-off {
  display: none;
}
.seekBase {
  height: 4px;
  width: 100%;
  border: 1px solid #cccccc;
  margin-top: 9px;
}
.seekLoad {
  height: 2px;
  width: 0;
  background-color: #E0EAF1;
}
.tour-date td {
  padding: 0 70px 10px 0;
}
.tour-date:last-child {
  padding-right: 0;
}
.tour-date-small {
  font-size: 16px;
  font-style: italic;
}
.tour-date-past-container {
  margin-top: 20px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
.tour-date-past {
  font-size: 16px;
}
.tour-date-past td {
  padding: 0 30px 4px 0;
}
.tour-date-header {
  font-size: 16px;
  color: #ccc;
}
.toggle-shows {
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}
.toggle-shows:hover {
  color: #ccc;
}
.song-list {
  margin-top: 30px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.song-list ul {
  list-style-type: none;
}
.photos-container {
  background-repeat: no-repeat;
  background-image: url("/images/backgrounds/photos_bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.grid {
  max-width: 70%;
  list-style: none;
  margin: 30px auto;
  padding: 0;
}
.grid li {
  display: block;
  float: left;
  padding: 7px;
  width: 33%;
  opacity: 0;
}
.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
  opacity: 1;
}
.grid li a,
.grid li img {
  outline: none;
  border: none;
  display: block;
  max-width: 100%;
}
.fancybox-nav {
  width: 50%;
}
.mouseover-darken-photo {
  background: #000;
}
.mouseover-darken-photo img {
  transition: all 0.5s linear;
  margin: 0 auto;
}
.mouseover-darken-photo:hover img {
  opacity: 0.3;
}
.btn-group:hover > .dropdown-menu {
  display: block;
}
.btn-group {
  margin: 20px 10px 0;
}
.photo-button-group {
  width: 70%;
  margin: 0 auto;
  padding-top: 80px;
}
.photo-button {
  width: 100px;
  font-size: 18px;
  background: #000;
  border-color: #000;
  transition: all 0.3s linear;
}
.photo-button:hover {
  background: #333;
  border-color: #000;
}
.page-title-photos {
  color: #fff;
  float: left;
  margin-right: 100px;
  margin-left: 20px;
  font-size: 30px;
}
.dropdown-menu {
  margin-top: -1px;
}
@media screen and (max-width: 900px) {
  .grid li {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .grid li {
    width: 100%;
  }
}
.video-container {
  background-repeat: no-repeat;
  background-image: url("/images/backgrounds/video_bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.youtube-container {
  padding-top: 20px;
  margin: 0 auto;
  width: 600px;
}
.youtube-container:first-child {
  padding-top: 80px;
}
.youtube-container:last-child {
  padding-bottom: 40px;
}
.page-title-video {
  color: #fff;
  margin-right: 100px;
  margin-left: 20px;
  font-size: 30px;
}
.youtube-video {
  z-index: 20 !important;
  position: relative;
}
.video-loader {
  color: #fff;
  z-index: 1 !important;
  position: absolute;
  top: 50%;
  left: 50%;
}
.admin-container {
  margin: 90px 0 0 30px;
}
.admin-tour-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.admin-song-list-container {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
.admin-song-list {
  list-style-type: none;
}
.admin-delete {
  float: left;
  margin-right: 10px;
}
