@font-face {
  font-family: 'abite';
  src: url('/fonts/abite.woff') format('woff');
}
@font-face {
  font-family: 'candara';
  src: url('/fonts/candara.woff') format('woff');
}
body {
  font-family: "candara";
}
body,
html,
.main-view {
  /* important */
  height: 100%;
}
.container {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
@media only screen and (min-width : 992px) {
  .container {
    max-width: 992px;
  }
}
.container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
.fixed-bg {
  position: relative;
  min-height: 60% !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
@media only screen and (min-width : 768px) {
  .fixed-bg {
    min-height: 100% !important;
  }
}
@media only screen and (min-width : 1200px) {
  .fixed-bg {
    background-attachment: fixed;
  }
}
.fixed-bg h1,
.fixed-bg h2 {
  text-align: center;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px #000000;
  color: white;
  font-size: 30px;
}
.fixed-bg h1 em,
.fixed-bg h2 em {
  font-size: 22px;
  display: block;
}
@media only screen and (min-width : 768px) {
  .fixed-bg h1,
  .fixed-bg h2 {
    font-size: 36px;
  }
  .fixed-bg h1 em,
  .fixed-bg h2 em {
    font-size: 28px;
    display: block;
  }
}
@media only screen and (min-width : 1200px) {
  .fixed-bg h1,
  .fixed-bg h2 {
    font-size: 48px;
    font-weight: 300;
    line-height: 52px;
  }
  .fixed-bg h1 em,
  .fixed-bg h2 em {
    font-size: 28px;
    display: block;
  }
}
.fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 80%;
  max-width: 1170px;
}
@media only screen and (min-width : 768px) {
  .fixed-bg h2 {
    width: 60%;
  }
}
.fixed-bg.bg-1 {
  background-image: url("/images/backgrounds/home_bg1.jpg");
}
.fixed-bg.bg-2 {
  background-image: url("/images/backgrounds/home_bg2.jpg");
}
.fixed-bg.bg-3 {
  background-image: url("/images/backgrounds/home_bg3.jpg");
}
.fixed-bg.bg-4 {
  background-image: url("/images/backgrounds/home_bg4.jpg");
}
.fixed-bg.bg-5 {
  background-image: url("/images/backgrounds/home_bg5.jpg");
}
.scrolling-bg {
  position: relative;
  min-height: 50%;
  padding: 30px 0 40px;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
  font-size: 20px;
}
.scrolling-bg h1 {
  border-bottom: 1px #fff solid;
  font-size: 30px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.scrolling-bg .social-media-feed-title {
  font-size: 24px;
  padding-bottom: 10px;
}
@media only screen and (min-width : 768px) {
  .scrolling-bg {
    padding: 40px 0 30px;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 300;
  }
}
.scrolling-bg.color-1 {
  background-image: url("/images/backgrounds/scroll_bg1.jpg");
  color: #eeeeee;
}
.scrolling-bg.color-2 {
  background-image: url("/images/backgrounds/scroll_bg2.jpg");
  color: #eeeeee;
}
.scrolling-bg.color-3 {
  background-image: url("/images/backgrounds/scroll_bg3.jpg");
  color: #eeeeee;
}
.scrolling-bg.color-4 {
  background-image: url("/images/backgrounds/scroll_bg4.jpg");
  color: #eeeeee;
}
.scrolling-bg.color-5 {
  width: 100%;
  min-height: 0;
  height: 120px;
  background: #333;
  line-height: 0;
  padding-top: 30px;
}
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #666666;
  color: #eeeeee;
  width: 40px;
  height: 38px;
  line-height: 48px;
  right: 10px;
  bottom: 20px;
  padding-top: 2px;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
@media only screen and (min-width : 768px) {
  .scroll-top-wrapper {
    right: 30px;
    bottom: 50px;
    width: 50px;
    height: 48px;
    border-radius: 10px;
  }
}
.scroll-top-wrapper:active,
.scroll-top-wrapper:hover {
  background-color: #888888;
}
.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: .7;
}
.scroll-top-wrapper i.fa {
  line-height: none;
}
@media only screen and (min-width : 768px) {
  .scroll-top-wrapper i.fa {
    line-height: inherit;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
.header .logo {
  float: left;
  margin: 9px 0 0 5%;
  font-family: abite;
  font-size: 30px;
  color: #fff;
}
.header .logo img {
  display: block;
}
.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.6s cubic-bezier(0.87, -0.5, 0.19, 1.44);
}
.headroom--unpinned {
  top: -100px;
}
.headroom--pinned {
  top: 0;
}
.menu-btn {
  float: right;
  margin-right: 5%;
  color: #8e7d7f;
  cursor: pointer;
  z-index: 11;
  margin-top: 13px;
  transition: all 0.3s linear;
}
.menu-btn:hover {
  color: #fff;
}
.main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("/images/menu-icon.svg") no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;
}
.main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  padding: 0;
  list-style-type: none;
}
.main-nav ul.is-visible {
  transform: translateY(50px);
}
.main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #2f292a;
  border-top: 1px solid #453c3d;
  color: #8e7d7f;
}
@media only screen and (min-width : 768px) {
  .main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
    float: right;
    margin-right: 5%;
  }
  .main-nav ul {
    position: static;
    width: auto;
    line-height: 70px;
    transform: none;
  }
  .main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 5px;
    border-top: none;
    color: #eeeeee;
    font-size: 16px;
    text-transform: uppercase;
  }
  .main-nav a:hover,
  .main-nav a:active,
  .main-nav a:focus {
    text-decoration: none;
  }
  .main-nav a:hover {
    color: #bfbfbf;
  }
}
footer {
  width: 100%;
  height: 30px;
  background: #000;
  margin: 0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 10;
}
.audio-player-controls {
  width: 95%;
  margin: 6px auto 0;
  color: #999;
  text-align: left;
}
@media only screen and (min-width : 768px) {
  .audio-player-controls {
    width: 75%;
  }
}
@media only screen and (min-width : 992px) {
  .audio-player-controls {
    margin-left: 20%;
  }
}
.audio-player-controls i {
  cursor: pointer;
  padding-right: 10px;
  transition: all 0.3s linear;
}
.audio-player-controls i:hover {
  color: #eeeeee;
}
.audio-player-controls span {
  padding-right: 10px;
}
.play,
.pause,
.mic-off {
  display: none;
}
.seekBase {
  height: 4px;
  width: 100%;
  border: 1px solid #cccccc;
  margin-top: 9px;
}
.seekLoad {
  height: 2px;
  width: 0;
  background-color: #E0EAF1;
}
a {
  color: #eeeeee;
  transition: all 0.3s linear;
}
a:hover,
a:active {
  color: #bfbfbf;
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.btn-main {
  font-size: 16px;
  margin-bottom: 20px;
  background: #dedede;
  color: #333;
  transition: all 0.3s linear;
}
.btn-main:hover {
  background: #999;
  color: #666;
}
.social-media-feeds {
  margin-top: 10px;
}
.twitter-feed-container {
  max-width: 320px;
  float: left;
  margin-bottom: 10px;
}
@media only screen and (min-width : 768px) {
  .twitter-feed-container {
    margin-right: 5%;
    margin-bottom: 0;
  }
}
.twitter-timeline {
  max-width: 320px !important;
  max-height: 330px;
  margin-right: 20px;
}
.instagram-feed-container {
  width: 330px;
  height: 100%;
  float: left;
  margin-bottom: 20px;
}
.instagram-feed {
  position: relative;
  width: 270px;
  text-align: center;
}
.instagram-iframe {
  width: 220px;
  height: 435px;
  border: none;
  overflow: hidden;
}
@media only screen and (min-width : 768px) {
  .instagram-iframe {
    display: none;
  }
}
.instagram-iframe-tablet {
  width: 330px;
  height: 330px;
  border: none;
  overflow: hidden;
}
@media only screen and (min-width : 320px) {
  .instagram-iframe-tablet {
    display: none;
  }
}
@media only screen and (min-width : 768px) {
  .instagram-iframe-tablet {
    display: block;
  }
}
.instagram-link {
  position: absolute;
  width: 330px;
  height: 330px;
  top: 0;
  left: 0;
  display: inline-block;
  z-index: 8;
}
.tour-date-header {
  font-size: 16px;
  color: #ccc;
}
.tour-date {
  padding-bottom: 30px;
  text-align: center;
}
.tour-date li {
  padding-bottom: 5px;
  line-height: 24px;
}
@media only screen and (min-width : 768px) {
  .tour-date li {
    padding-right: 70px;
  }
  .tour-date li:last-child {
    padding-right: 0;
  }
}
.tour-date-large {
  font-size: 26px;
}
.tour-date-small {
  font-size: 16px;
  font-style: italic;
}
.tour-date-past-container {
  margin-top: 20px;
}
.tour-date-past {
  font-size: 16px;
  column-count: 1;
  column-break-inside: avoid;
  text-align: center;
}
@media only screen and (min-width : 768px) {
  .tour-date-past {
    column-count: 3;
  }
}
.tour-date-past li {
  line-height: 36px;
}
.toggle-shows {
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  transition: all 0.3s linear;
}
.toggle-shows:hover {
  color: #bfbfbf;
}
.song-list {
  column-count: 1;
  column-break-inside: avoid;
  text-align: center;
}
@media only screen and (min-width : 768px) {
  .song-list {
    column-count: 3;
  }
}
.song-list li {
  line-height: 36px;
}
.booking-info {
  font-size: 22px;
  padding: 10px;
  background: #999;
  margin-top: 20px;
  margin-bottom: 30px;
  background: rgba(153, 153, 153, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
}
@media only screen and (min-width : 768px) {
  .booking-info {
    font-size: 24px;
  }
}
.band-container {
  text-align: center;
}
.band-member-container {
  margin-top: 10px;
}
.band-member-image {
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.band-member-name {
  margin: 10px 0 0 5px;
  padding-bottom: 0;
  line-height: 22px;
}
.band-member-title {
  font-size: 16px;
  font-style: italic;
  margin-top: 5px;
  padding-top: 0;
  display: block;
  line-height: 20px;
}
.social-media-footer {
  text-align: center;
}
.social-media-footer .social-media-footer-icon {
  display: inline !important;
}
.social-media-footer a {
  padding: 0 15px;
  color: #999;
}
@media only screen and (min-width : 768px) {
  .social-media-footer a {
    padding: 0 30px;
  }
}
.social-media-footer a:hover {
  color: #fff;
}
.news-container {
  background-repeat: no-repeat;
  background-image: url("/images/backgrounds/news_bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.article-container {
  padding: 80px 0 100px;
  margin: 0 auto;
  width: 70%;
  color: #eeeeee;
  font-size: 20px;
}
.page-title-news {
  font-size: 30px;
  border-bottom: 1px #eeeeee solid;
  padding-bottom: 10px;
}
.news-article-date {
  font-size: 30px;
  font-style: italic;
}
.news-article-title {
  font-size: 24px;
  font-style: italic;
  line-height: 30px;
  margin-top: 0;
}
.news-article {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
.news-article:last-child {
  border: none;
}
.photos-container {
  background-repeat: no-repeat;
  background-image: url("/images/backgrounds/photos_bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.grid {
  max-width: 70%;
  list-style: none;
  margin: 30px auto 0;
  padding: 0 0 50px 0;
}
.grid li {
  display: block;
  float: left;
  padding: 7px;
  width: 33%;
  opacity: 0;
}
.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
  opacity: 1;
}
.grid li a,
.grid li img {
  outline: none;
  border: none;
  display: block;
  max-width: 100%;
}
.fancybox-nav {
  width: 50%;
}
.mouseover-darken-photo {
  background: #000;
}
.mouseover-darken-photo img {
  transition: all 0.5s linear;
  margin: 0 auto;
}
.mouseover-darken-photo:hover img {
  opacity: 0.3;
}
.btn-group:hover > .dropdown-menu {
  display: block;
}
.btn-group {
  margin: 20px 10px 0;
}
.photo-button-group {
  width: 100%;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
}
@media only screen and (min-width : 768px) {
  .photo-button-group {
    text-align: left;
  }
}
.photo-button {
  width: 100px;
  font-size: 18px;
  background: #000;
  border-color: #000;
  transition: all 0.3s linear;
}
.photo-button:hover {
  background: #333;
  border-color: #000;
}
.page-title-photos {
  color: #eeeeee;
  float: left;
  margin-right: 100px;
  margin-left: 20px;
  font-size: 30px;
}
.dropdown-menu {
  margin-top: -1px;
  left: -60px;
  width: 220px;
  text-align: center;
}
@media only screen and (min-width : 768px) {
  .dropdown-menu {
    left: 0;
    min-width: 160px;
    text-align: left;
  }
}
@media screen and (max-width: 900px) {
  .grid li {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .grid li {
    width: 100%;
  }
}
.video-container {
  background-repeat: no-repeat;
  background-image: url("/images/backgrounds/video_bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.youtube-container {
  padding-top: 20px;
  margin: 0 auto;
  width: 320px;
}
@media only screen and (min-width : 768px) {
  .youtube-container {
    width: 600px;
  }
}
.youtube-container:first-child {
  padding-top: 80px;
}
.youtube-container:last-child {
  padding-bottom: 40px;
}
.page-title-video {
  color: #eeeeee;
  margin-right: 100px;
  margin-left: 20px;
  font-size: 30px;
}
.youtube-video {
  z-index: 9;
  position: relative;
  height: 240px !important;
}
@media only screen and (min-width : 768px) {
  .youtube-video {
    height: 400px !important;
  }
}
.youtube-video iframe {
  width: 320px !important;
  height: 240px !important;
}
@media only screen and (min-width : 768px) {
  .youtube-video iframe {
    width: 600px !important;
    height: 400px !important;
  }
}
.video-loader {
  color: #eeeeee;
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 40%;
}
@media only screen and (min-width : 768px) {
  .video-loader {
    top: 50%;
    left: 50%;
  }
}
.admin-container {
  padding: 90px 0 0 30px;
  background: #fff;
}
.admin-tour-list-container {
  column-count: 3;
}
.admin-song-list-container {
  column-count: 3;
}
.admin-tour-list,
.admin-song-list,
.admin-news {
  list-style-type: none;
}
.admin-delete {
  float: left;
  margin-right: 10px;
}
