.tour-list {
    list-style-type: none;
    border-bottom: 1px solid #333;
    padding: 20px 0;
    width: 300px;
}



.song-list {
    margin-top: 30px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    ul {
        list-style-type: none;
    }
}
