.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 10;

}

.header:after {
    content: "";
    display: table;
    clear: both;
}

.header .logo {
    float: left;
    margin: 9px 0 0 5%;
    font-family: abite;
    font-size: 30px;
    color: #fff;
}

.header .logo img {
    display: block;
}

//nav bounce
.headroom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.6s cubic-bezier(.87, -.5, .19, 1.44)
}

.headroom--unpinned {
    top: -100px;
}

.headroom--pinned {
    top: 0;
}






@media only screen and (max-width: 768px) {
    //.main-nav {
    //    float: right;
    //    margin-right: 5%;
    //    width: 44px;
    //    height: 100%;
    //    background: url("/images/menu-icon.svg") no-repeat center center;
    //    background-size: 44px 44px;
    //    cursor: pointer;
    //}
    //
    //.main-nav ul {
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //    width: 100%;
    //    transform: translateY(-100%);
    //    padding: 0;
    //    list-style-type: none;
    //}
    //
    //.main-nav ul.is-visible {
    //    transform: translateY(50px);
    //}
    //
    //.main-nav a {
    //    display: block;
    //    height: 50px;
    //    line-height: 50px;
    //    padding-left: 5%;
    //    background: #2f292a;
    //    border-top: 1px solid #453c3d;
    //    color: #8e7d7f;
    //}
}


@media only screen and (min-width: 768px) {
    .main-nav {
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
        float: right;
        margin-right: 5%;
    }

    .main-nav ul {
        position: static;
        width: auto;
        line-height: 70px;
    }

    .main-nav li {
        display: inline-block;
        margin-left: 1em;
    }

    .main-nav a {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
        padding: .6em 5px;
        border-top: none;
        color: @main-text-color;
        font-size: 16px;
        text-transform: uppercase;


        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }

        &:hover {
            color: @link-hover-color;
        }
    }

    .no-touch .main-nav a:hover {
        color: #99a478;
    }
}
