@font-face {
    font-family: 'abite';
    src: url('/fonts/abite.woff') format('woff');
}

@font-face {
    font-family: 'candara';
    src: url('/fonts/candara.woff') format('woff');
}


body {
    font-family: "candara";
}