
<div class="fixed-bg bg-1"></div>
<div class="scrolling-bg color-1">
    <div class="container">
        <div id="news" data-ng-controller="NewsCtrl">
            <div ng-repeat="article in news | orderBy:'date' | limitTo:-1">
                <h2>{{article.date | dateFormatGigPast}} {{article.title}}</h2>
                <p>{{article.article}}</p>
            </div>
            <a href="#/news"><i class="fa fa-arrows"></i> Read Old News</a>
        </div>
        SOCIAL MEDIA STUFF (Instagram & Twitter feeds)
    </div>
</div>

<div class="fixed-bg bg-2">
    <h2>"...the hottest New Act from Boston...BLEW US AWAY!..."<em>- Matterhorn, Sunday River</em></h2>
</div>
<div class="scrolling-bg color-2" id="tour" data-ng-controller="TourCtrl">
    <div class="container">
        <h1><i class="fa fa-arrows"></i> Shows</h1>
        <table>
            <tr class="tour-date-header">
                <td>Date</td>
                <td>Venue</td>
                <td>Location</td>
                <td>Time</td>
            </tr>
            <tr class="tour-date" ng-repeat="gig in gigs | orderBy:'date' | limitTo:-5">
                <td>{{gig.date | dateFormatGig}}</td>
                <td>{{gig.venue}}</td>
                <td class="tour-date-small">{{gig.location}}</td>
                <td class="tour-date-small">{{gig.time}}</td>
            </tr>
        </table>

        <div class="toggle-shows" ng-click="isCollapsed = !isCollapsed; toggle = !toggle"><i class="fa fa-arrows"></i> {{toggleText}}</div>
        <div collapse="isCollapsed" class="tour-date-past-container">
            <table>
                <tr class="tour-date-past" ng-repeat="gig in gigs | orderBy:'-date' | limitTo:'Infinity':5">
                    <td>{{gig.date | dateFormatGigPast}} - {{gig.venue}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="fixed-bg bg-3">
    <h2>"...Bostonians, the band Kilroe is here to save our nights out..."<em>- Examiner.com</em></h2>
</div>

<div class="scrolling-bg color-3" id="band">
    <div class="container">
        <h1><i class="fa fa-arrows"></i> Come see New England's greatest rock show!</h1>
        <p>Pearl Jam, Green Day, Foo Fighters, Kings Of Leon, Blink 182. Kilroe is here to hit the stage and dish out all of the best songs from the 80's, 90's and today mixed with a few classics and lots of surprises. You haven't experienced a live show in a local venue like this before as Kilroe energizes crowds from start to finish with their full-on arena rock attitude. The members of Kilroe (Kris Bishop, Rob O'Neill, Mark Donatelli, Jeremy Rosenberger) have spent over ten years playing in successful original bands and decided to take their talent and experience to the Boston area and northeast, turning themselves into one of New England's hottest bands.</p>
        <p>You've seen Kilroe in and around Boston at BELL IN HAND, CASK 'N FLAGON, GRAND CANAL, HENNESSY'S, HOOLEY HOUSE, LANSDOWNE PUB, WHISKEY PRIEST, OCEAN CLUB AT MARINA BAY, GREEN DRAGON, PADDY O's, THE TAP, REVOLUTION ROCK BAR, CLUB 58, and BEACHCOMBER. Kilroe has also become a fixture at other New England venues such as the MATTERHORN at SUNDAY RIVER and ONE PELHAM EAST in Newport, RI. Tired of those same old cover bands that just go through the motions on stage? Kilroe puts on an incredible live show every time out that you'll be telling your friends about the next day.</p>
    </div>
    <div data-ng-controller="BandCtrl">
    <div class="container">
        <h1><i class="fa fa-arrows"></i> The Band</h1>
        <div class="band-container">
            <div ng-repeat="member in band | orderBy:'lastName'">
                <div class="band-member-container">
                <img src="{{member.image}}" alt="{{member.firstName}} {{member.lastName}}" class="band-member-image" />
                <p class="band-member">{{member.firstName}} {{member.lastName}}</p>
                <p class="band-member-title">{{member.title}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
    <div data-ng-controller="SongCatalogCtrl">
        <div class="container">
            <h1><i class="fa fa-arrows"></i> Song Catalog</h1>
            <div class="song-list">
                <ul ng-repeat="song in catalog | orderBy:'song'">
                    <li>{{song.song}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="fixed-bg bg-4">
    <h2>"...really know how to keep the crowd going...an amazing show!..."<em>- Hennessy's</em></h2>
</div>
<div class="scrolling-bg color-4" id="contact">
    <div class="container">
        <p>The BOOKING INFO<br>
        Suspendisse potenti. Proin velit nulla, tincidunt vitae semper in, tempus at justo. Mauris eget dui quam. Nulla at magna sit amet lectus condimentum malesuada. Donec rhoncus hendrerit lacus, sed pretium erat malesuada id. Vestibulum blandit nisi vel lectus varius, et semper sapien ultricies. Nunc libero dui, iaculis aliquet metus non, condimentum accumsan justo. Nunc odio diam, sagittis sed scelerisque et.</p>
    </div>
</div>

<div class="fixed-bg bg-5">
    <h2>"...best band we've had all summer!"<em>- One Pelham East</em></h2>
</div>

<div class="scrolling-bg color-5">
    <div class="container">
    <p>Donec rhoncus hendrerit lacus.</p>
    </div>
</div>
