<section data-ng-controller="PhotoCatalogCtrl" class="photos-container">
    <h1 class="page-title-photos"><i class="fa fa-arrows"></i> Photos</h1>

    <div class="photo-button-group">
        <div class="btn-group select-photos">
            <button type="button" class="btn dropdown-toggle photo-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>2011 <i class="fa fa-caret-down"></i></button>
            <ul class="dropdown-menu">
                <li><a href="#/photos" data-ng-click="filters = {date: '6-10-2011'}">BSSC Cruise 6/10/2011</a></li>
            </ul>
        </div>
        <div class="btn-group select-photos">
            <button type="button" class="btn dropdown-toggle photo-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">2010 <i class="fa fa-caret-down"></i></button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#/photos" data-ng-click="filters = {date: '5-7-2010'}">Lansdowne Pub 5/7/2010</a></li>
                <li><a href="#/photos" data-ng-click="filters = {date: '3-13-2010'}">Hennessy's 3/13/2010</a></li>
                <li><a href="#/photos" data-ng-click="filters = {date: '2-10-2010'}">Matterhorn 2/10/2010</a></li>
            </ul>
        </div>
        <div class="btn-group select-photos">
            <button type="button" class="btn dropdown-toggle photo-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">2009 <i class="fa fa-caret-down"></i></button>
            <ul class="dropdown-menu dropdown-menu-center">
                <li><a href="#/photos" data-ng-click="filters = {date: '10-31-2009'}">Hennessy's 10/31/2009</a></li>
                <li><a href="#/photos" data-ng-click="filters = {date: '10-2-2009'}">Hennessy's Sept/Oct 2009</a></li>
                <li><a href="#/photos" data-ng-click="filters = {date: '9-17-2009'}">Press Pics 2009</a></li>
                <li><a href="#/photos" data-ng-click="filters = {date: '7-23-2009'}">Rev. Rock Bar 7/23/2009</a></li>
                <li><a href="#/photos" data-ng-click="filters = {date: '7-18-2009'}">Rally in the Alley 7/18/2009</a></li>
                <li><a href="#/photos" data-ng-click="filters = {date: '4-11-2009'}">Basta Bar Apr/Jun 2009</a></li>
            </ul>
        </div>
    </div>

    <ul class="masonry-container grid" masonry>
        <li class="masonry-brick" ng-repeat="photo in photos | filter:filters">
            <a data-ng-click="openLightboxModal($index)"
               class="mouseover-darken-photo">
                <img data-ng-src="/images/photos/{{photo.venue}}/{{photo.date}}/{{photo.fileName}}.jpg"
                     class="img-thumbnail" />
            </a>
        </li>
    </ul>

</section>

<section class="scrolling-bg color-5" data-ng-controller="SocialMediaCtrl">
    <div class="container social-media-footer">
        <div ng-repeat="icon in socialMediaIcons" class="social-media-footer-icon">
            <a data-ng-href="https://{{icon.app}}.com/{{icon.userName}}" target="_blank"><i class="fa fa-{{icon.app}} fa-2x"></i></a>
        </div>
    </div>
</section>

<script>
//closes dropdown on mobile touch
$(document).ready(function() {
    $('.dropdown-menu li a').click(function() {
        $(this).closest('.dropdown-menu').prev().dropdown('toggle');
    });
});

</script>