<div data-ng-controller="VideoCatalogCtrl" class="video-container">
    <div class="youtube-container">
        <h1 class="page-title-video"><i class="fa fa-arrows"></i> Video</h1>
        <div class="youtube-container" ng-repeat="video in videos">
            <div class="video-loader"><i class="fa fa-spinner fa-pulse fa-3x"></i></div>
            <div class="youtube-video" youtube="{{video.youtubeId}}"></div>
        </div>
    </div>
</div>

<div class="scrolling-bg color-5">
    <div class="container social-media-footer-icons">
        <a href="https://twitter.com/kilroerock" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="https://instagram.com/kilroerock" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
        <a href="https://facebook.com/kilroerock" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
        <a href="https://youtube.com/kilroeband" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
    </div>
</div>